<h1>Boigahs</h1>

<div id="addForm">
	<h3>Order a Boigah</h3>
	<form action="/create" method="POST">
		<input type="text" name="name">
		<button type="submit" id="addButton">Add Boigah</button>
	</form>
</div>
<div id="burgerWrapper">
	<div id="availableBurgers">
		<h2>Boigahs Available</h2>
		<ul>
			{{#each burgers}}
				{{#unless this.devoured}}
					<li>
						{{this.name}}

						<form action="/update/{{this.id}}?_method=PUT" method="POST">
							<input type="hidden" name="devoured" value="true">
							<button type="submit" class="devourButton">Devour Boigah</button>
						</form>
					</li>
				{{/unless}}
			{{/each}}
		</ul>
	</div>
	<div id="devouredBurgers">
		<h2>Devoured Boigahs</h2>
		<ul>
			{{#each burgers}}
				{{#if this.devoured}}
					<li>
						{{this.name}}
					</li>
				{{/if}}
			{{/each}}
		</ul>
	</ul>
</div>